.wrapper {
    display: grid;
    width: 99.8vw;
    height:99.8vh;
    grid-template: 100% / 55px 260px 1fr;
}

#leftbar {
    background-color: rgb(32, 32, 32);
    color: lightgray;
    text-align: center;
}

#sidebar {
    background-color: #525153;
}

.sidebarHeader {
    height: 60px;
    text-align: left;
    padding-left: 20px;
}

.sidebarHeader h1 {
    font-size: 25px;
    color: rgb(224, 216, 216);
    padding-right: 20px;
    word-wrap: break-word;
}

.sidebarBody {
    font-size: 20px;
    color: rgb(201, 194, 194);
    text-align: center;
}

.sidebarBodyPlots {
    font-size: 20px;
    color: rgb(201, 194, 194);
    text-align: left;
    padding-bottom: 30px;
}

.sidebarTableText {
    font-size: 20px;
    color: rgb(201, 194, 194);
    text-align: left;
}

.sidebarBody h3 {
    text-align: left;
}

.varname {
    font-size: 25px;
    color: #d6d6d6;
    width: 350px;
    padding-left: 5%;
}

.sidenav h1 {
    text-align: center;
    text-decoration: none;
    color: #f0eeee;
    display: block;
}

.inline {
    display: inline;
}

.checkbox {
    height: 18px;
    width: 18px;
}

#variables.variableslist {
    height: 150px;
    width: 200px;
    margin-left: 32px;
}

#variables.variableslist.option {
    margin-left: 5px;
    font-size: 15px;
    color: #a8a8a8;
}

.sidenav .closebtn {
    font-size: 36px;
    margin-right: 10px;
}

.sidenav .closebtn:hover {
    color: #747474
}

.input {
    padding-right: 20px;
}

#installButton {
    position: absolute;
    bottom: 10px;
    left: 0.6%;
}

#leftbar button {
    margin-top: 5px;
}