/******************* Legend styling *******************/

#n2-legend-div {
    position: absolute;
    left: 50px;
    bottom: 10px;
    z-index: 2;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    cursor: grab;
    opacity: 0.95;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

#n2-legend-div p {
    margin-top: auto;
}

.n2-legend-box-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.n2-legend-box-container p {
    display: flex;
    font-size: 14px;
    margin-left: 4px;
    white-space: nowrap;
}

.n2-legend-box {
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.n2-legend-title-container {
    height: 100%;
    width: 40px;
    display: inline-block;
    background-color: #42926b;
    overflow: visible;
}

.n2-legend-title {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin: 50% 50% 50% 50%;
    width: 90px;
    height: 40px;
    font-size: 14px;
    color: white;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-77px, 3px);
}

.n2-sys-var-container::-webkit-scrollbar, .n2-linear-solvers-container::-webkit-scrollbar, .n2-symbols-container::-webkit-scrollbar {
    display: none;
}

/* Systems and Varaibles Container */

.n2-sys-var-container {
    height: 90px;
    border-radius: 15px;
    border: 1px solid #98daba;
    display: flex;
    flex-direction: row;
    background-color: white;
    z-index: 1;
    overflow-y: scroll;
}

#n2-sys-var-legend {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 45px;
    overflow-x: hidden;
}

/* N2 Symbols Group */

.n2-symbols-container {
    height: 90px;
    min-height: 45px;
    border-radius: 15px;
    border: 1px solid #66b48e;
    display: flex;
    align-items: center;
    padding-right: 45px;
    background-color: white;
    z-index: 2;
    overflow: scroll;
    margin-left: -20px;
}

#n2-symbols-legend {
    display: flex;
    width: auto;
    flex-direction: column;
    padding-left: 8px;
}

.n2-symbol {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.n2-symbol p {
    font-size: 14px;
    margin: 0;
    margin-left: 8px;
    white-space: nowrap;
}

.n2-symbol-outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
}

.n2-symbol-inner {
    position: absolute;
    margin: 0 auto;
}

.n2-scalar {
    border: 2px solid #cecece;
}

.n2-scalar .n2-symbol-inner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #9fc4c6;
}

.n2-vector {
    border: 2px solid #cecece;
}

.n2-vector .n2-symbol-inner {
    width: 12px;
    height: 12px;
    background-color: #9fc4c6;
}

.n2-collapsed {
    border: 2px solid #9fc4c6;
}

.n2-collapsed .n2-symbol-inner {
    width: 12px;
    height: 12px;
    background-color: #9fc4c6;
}

/* Linear Solvers Group */

.n2-linear-solvers-container {
    height: 90px;
    border-radius: 15px;
    border: 1px solid #42926b;
    display: flex;
    flex-direction: row;
    margin-left: -20px;
    margin-right: 0;
    background-color: white;
    z-index: 3;
    overflow-y: scroll;
}

#n2-solvers-legend {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 20px;
    overflow-x: hidden;
}

.n2-draggable {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 50%;
    background-color: #42926b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -20px)
}

.n2-draggable>.icon-key {
    color: white;
}

#n2-draggable-legend-dots p {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#n2-close-legend {
    position: absolute;
    top: -20px;
    right: -18px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    cursor: default;
}

#n2-close-legend p::before {
    content: '\2715'
}

#n2-close-legend p {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

p.n2-legend-dots::before {
    content: '\A789\A789\A789\A789\A789\A789';
}