<!DOCTYPE html>
<html>
<script>
    
</script>

<head>
    <title>OpenMDAO Visualization</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="padding-left: 10px; padding-right: 10px; padding-bottom:5px">
            <nav class="navbar" style="margin-bottom:0">
                <h1 style="padding-bottom: 10px">
                    <strong>OpenMDAO Visualization</strong>
                </h1>
                <br/>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ol class="breadcrumb" style="margin-bottom:0px">
                            <li class="breadcrumb-item"><a href="http://openmdao.org">OpenMDAO</a></li>
                            <li class="breadcrumb-item active">Cases</li>
                        </ol>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <h4>
                            <a href="" style="text-align:right; padding-right:4%" onclick="logout()">Sign Out</a>
                        </h4>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    
    <div class="container panel panel-default">
        <div class="panel-body">
            {% if len(cases) > 0 %}
            <h2><strong>Available Cases</strong></h2>
            <table class="table table-striped table-hover">
                <thead>
                    <th style="width: 40%">Name</th>
                    <th style="width: 20%; text-align: center">Case ID</th>
                    <th style="width: 20%; text-align: center">Date</th>
                    <th style="width: 10%; text-align: center">Edit</th>
                    <th style="width: 10%; text-align: center">Delete</th>
                </thead>
                <tbody>
                    {% for case in cases %}
                    <tr style="cursor: pointer">
                        <td onclick="window.document.location='../visualization/case/{{case["case_id"]}}'">{{case['case_name']}}</td>
                        <td align="center" onclick="window.document.location='../visualization/case/{{case["case_id"]}}'">{{case['case_id']}}</td>
                        <td align="center" onclick="window.document.location='../visualization/case/{{case["case_id"]}}'">{{case['datestring']}}</td>
                        <td align="center">
                            <button class="btn btn-sm" onClick="updateCaseName({{case["case_id"]}}, this)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                        <td align="center">
                            <button class="btn btn-sm btn-danger" onClick="deleteCase({{case["case_id"]}}, '{{token}}')">
                                    <i class="fa fa-remove"></i>
                                </button>
                        </td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
            {% else %}
            <p>No cases recorded yet. Be sure the OpenMDAO Team has activated your token before using it</p>
            {% end %}
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="visualization/style/awesomplete.css">
    <script type="text/javascript" src="visualization/src/list_cases/list_cases.js"></script>
    <script type="text/javascript" src="../src/list_cases/list_cases.js"></script>
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-light-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="visualization/libs/http.js"></script>

</body>

</html>